<div class="thumbnail">
    <%= image_tag @ad.picture.url(:large),class:"img-responsive"%>
    <div class="caption-full">
        <h4 class="pull-right"><%=humanized_money_with_symbol @ad.price %></h4>
        <h4><a href="#"><%=@ad.title%></a>
        </h4>
        <%= @ad.description.html_safe%>
    </div>
</div>


<div class="well well-sm">
    <div class="ratings">
        <p class="pull-right"><%=@ad.rates('quality').count%> <%= t('labels.reviews') %></p>
        <%= rating_for @ad, 'quality'%>
    </div>
</div>


<div class="well">

    <% if member_signed_in? %>
        <div class="text-right">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#commentModal">
              <%= t('labels.let_your_comment') %>
            </button>
        </div>
    <%else%>
        <div class="text-right">
                <%= link_to "#{t('labels.login_to_comment')}", new_member_session_path,class:"btn btn-success"%>
        </div>
    <%end%>
    <hr>

    <%= render partial: 'site/ad_detail/comments' %>
    
</div>

<%= render partial: 'site/ad_detail/comment_modal' %>


