<%= content_for :javascripts do %>
	<%= javascript_include_tag 'site/profile/ads'%>
<% end %>



<% if @ad.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

    <ul>
        <% @ad.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
    </ul>

    </div>
<% end %>


<%= form_for([:site,:profile,@ad],html: {multipart: true}) do |f| %>  
	<div class="row">
		<div class="col-xs-6">
			<div class="form-group">
			    <%= f.label :title%>
			    <%= f.text_field :title,class:"form-control",placeholder:"Enter email"%>
			 </div>
		 </div>
	</div>

	<div class="row">
		<div class="col-xs-4">
			<div class="form-group">
			    <%= f.label :category%>
			    <%= f.collection_select :category_id,Category.all,:id,:description,{},{class:"form-control"}%>
			 </div>
		 </div>
	</div>

	<div class="row">
		<div class="col-xs-3">
			<div class="form-group">
			    <%= f.label :price%>
			    <div class = "input-group">
			    	<div class = "input-group-addon"><%=@ad.price.currency.symbol%></div>
			    	<%= f.text_field :price,class:"form-control"%>
			    </div>
			 </div>
		 </div>
	</div>
	<div class="row">
		<div class="col-xs-3">
			<div class="form-group">
			    <%= f.label :finish_date%><br>
			    <%= f.text_field :finish_date,class:"form-control datepicker",value: (l(@ad.finish_date) unless @ad.finish_date.blank?) %>
			 </div>
		 </div>
	</div>

	<div class="row">
		<div class="col-xs-6">
			<div class="form-group">
			    <%= f.label :picture%><br>
			    <%# if @ad.picture.present?%>
			    	<%= image_tag @ad.picture(:medium),class:"img-thumbnail"%>
			    <%# end %>
			    <%= f.file_field :picture,class:"btn" %>
			 </div>
		 </div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
			    <%= f.label :description_short%>
			    <%= f.text_area :description_short,class:"form-control",rows:5%>
			 </div>
		 </div>
	</div>
	 
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
			    <%= f.label :description_md%>
			    <%= f.text_area :description_md,class:"form-control",rows:10%>
			 </div>
		 </div>
	</div>

	

	<%= submit_tag "#{t('buttons.send')}",class:"btn btn-primary"%>
<%end%>



                        
                    