<div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; <%=t('app.name')%><%= Date.today.year%></p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

