<h1 class="page-header"><%= t('labels.er_diagram') %></h1>


<div class="pane panel-default">
        <div class="panel-body">
            <embed src="/diagram.pdf" type="application/pdf" width="100%" height="580px">
        </div>
</div>
