<% @ads.each do |ad| %>
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <%= image_tag ad.picture.url(:medium)%>
        <div class="caption" style="height:100px;">
            <h4 class="pull-right"><%=humanized_money_with_symbol ad.price %></h4>
            <h4>
                <%= link_to truncate(ad.title,length:15),site_ad_detail_path(ad),remote: true,data:{push: :partial}%>
            </h4>
            <p><%= truncate(ad.description_short,length:100)%></p>
        </div>
        <div class="ratings" style="padding:5px;">
            <p class="pull-right"><%= ad.rates('quality').count %> <%= t('labels.reviews') %></p>
            <%= rating_for ad, 'quality'%>
        </div>
    </div>
</div>
<%end%>

<div class="row">
    <div class ="text-center">
        <%= paginate @ads %>
    </div>
</div>
