
<h1 class="page-header"><%= @admin.model_name.human(count: 2) %></h1>
<% if @admin.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

    <ul>
        <% @admin.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
    </ul>

    </div>
<% end %>

<div class="panel panel-default">
    <div class="panel-heading">
        <%= action_message %>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="col-lg-6">
            <%= form_for([:backoffice, @admin]) do |f| %>
                <div class="form-group">
                    <%= f.label :name %>
                    <%= f.text_field :name, class:"form-control", placeholder:"Nome do Administrador" %>

                </div>
                <div class="form-group">
                    <%= f.label :email %>
                    <%= f.text_field :email, class:"form-control", placeholder:"Email do administrador" %>

                </div>
                <%if policy(@admin).edit?%>
                    <div class="form-group">
                    <%= f.label :role %>
                    <%= f.collection_radio_buttons(:role, options_for_roles, :id, :description) do |b| %>
                        <div class="radio">
                            <%= b.label { b.radio_button + b.text} %>
                        </div>
                    <% end %>
                    </div>
               <% end %>
                <div class="form-group">
                    <%= f.label :password %>
                    <%= f.password_field :password, class:"form-control", placeholder:"Senha" %>

                </div>
                <div class="form-group">
                    <%= f.label :password_confirmation %>
                    <%= f.password_field :password_confirmation, class:"form-control", placeholder:"Confirmação da senha" %>

                </div>

                <button type="submit" class="btn btn-default">Salvar</button>
            <% end %>
        </div>
    </div>
    <!-- /.panel-body -->
</div>