$(function(){
  let $sendMailModal = $('#sendMailModal');

  //Setting email and name on Form
  $('#recipient-text').val('<%= @admin.email %>');
  $('h4.modal-title').text("<%= I18n.t('labels.send_message_to', name: @admin.name) %>");
  
  //Shows Modal
  $sendMailModal.modal();
  
  //Set focus on 'Message Text' after model is shown
  $sendMailModal.on('shown.bs.modal', function () {
    $('#subject-text').focus();
  })
});

