<h1>Listando Anúncios</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th><%= @ads.model.human_attribute_name('image') %></th>
      <th><%= @ads.model.human_attribute_name('title') %></th>
      <th><%= @ads.model.human_attribute_name('category') %></th>
      <th><%= @ads.model.human_attribute_name('price') %></th>
    </tr>
  </thead>
  <tbody>
  	<% @ads.each do |ad|%>
	    <tr>
	      <th scope="row"><%=ad.id%></th>
	      <td><%=image_tag ad.picture(:thumb)%></td>
	      <td><%=ad.title%></td>
	      <td><%=ad.category.description%></td>
	      <td><%=humanized_money_with_symbol ad.price %></td>
	      <td>
	      	<%= link_to edit_site_profile_ad_path(ad),class:"btn btn-primary btn-sm" do%>
	      		<span class="glyphicon glyphicon-pencil" id="basic-addon1"></span>
	  		<%end%>
		  </td>
	    </tr>
	<%end%>
  </tbody>
</table>