<div class="container">
        <div id="loginbox" style="<%= devise_sign_in? %> margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title"><%= t('labels.login') %></div>
                        <div style="float:right; font-size: 80%; position: relative; top:-18px">
                            <%= link_to t('labels.forgot_passoword'), new_member_password_path %>
                        </div>
                    </div>

                    <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>


                        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-horizontal", role:"form" }) do |f| %>

                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>

                                        <%= f.email_field :email, autofocus: true, class:"form-control", placeholder:"Email" %>
                                    </div>

                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>

                                        <%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder:"Senha" %>
                                    </div>



                            <div class="input-group">
                                      <div class="checkbox">
                                        <label>
                                          <% if devise_mapping.rememberable? -%>
                                              <%= f.check_box :remember_me %>
                                              Lembrar-me
                                          <% end -%>
                                        </label>
                                      </div>
                                    </div>


                                <div style="margin-top:10px" class="form-group">
                                    <!-- Button -->

                                    <div class="col-sm-12 controls">
                                      <%= f.submit (t('labels.enter')), class: "btn btn-success" %>
                                      <a id="btn-fblogin" href="#" class="btn btn-primary"
                                         disabled="disabled"><%= t('labels.sign_in_with_facebook') %>
                                      </a>

                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-12 control">
                                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                            <%= t('labels.dont_have_an_account') %>
                                        <a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">
                                            <%= t('labels.sign_up_here') %>
                                        </a>
                                        </div>
                                    </div>
                                </div>
                            <% end %>



                        </div>
                    </div>
        </div>




        <div id="signupbox" style="<%= devise_sign_up? %> margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title"><%= t('labels.sign_up') %></div>
                            <div style="float:right; font-size: 85%; position: relative; top:-18px"><a id="signinlink" href="#" onclick="$('#signupbox').hide(); $('#loginbox').show()"><%= t('labels.login') %></a></div>
                        </div>
                        <div class="panel-body" >
                            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-horizontal", role:"form" }) do |f| %>



                                <div class="form-group">
                                    <%= f.label :email, class:"col-md-3 control-label" %>
                                    <div class="col-md-9">
                                        <%= f.email_field :email, autofocus: true, class:"form-control", placeholder:"Email" %>
                                    </div>
                                </div>

                                <%= f.fields_for :profile_member do |profile_fields| %>
                                    <div class="form-group">
                                        <%= profile_fields.label :first_name, class:"col-md-3 control-label", placeholder:"Primeiro nome" %>
                                        <div class="col-md-9">
                                            <%= profile_fields.text_field :first_name, class:"form-control" %>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <%= profile_fields.label :second_name, class:"col-md-3 control-label" %>
                                        <div class="col-md-9">
                                            <%= profile_fields.text_field :second_name, class:"form-control", placeholder:"Segundo nome" %>
                                        </div>
                                    </div>
                                <% end %>

                                <div class="form-group">
                                    <%= f.label :password, class:"col-md-3 control-label" %>
                                    <div class="col-md-9">
                                        <%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder:"Senha" %>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <%= f.label :password_confirmation, class:"col-md-3 control-label" %>
                                    <div class="col-md-9">
                                        <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", placeholder:"Confirmar sua senha" %>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!-- Button -->
                                    <div class="col-md-offset-3 col-md-9">
                                        <%= f.submit (t('labels.sign_up')), class: "btn btn-info" do %>
                                          <i class="icon-hand-right"></i> &nbsp Sign Up
                                        <% end %>
                                    </div>

                                </div>

                            <% end %>
                         </div>
                    </div>

         </div>
    </div>

<% flash.each do |key, value| %>
  <%= javascript_tag "$.notify( { message: '#{value}'}, { type: 'danger', placement: { from: 'top', align: 'center' }});" %>
<% end %>

<% unless devise_error_messages!.blank? %>
  <% resource.errors.full_messages.each do |message| %>
      <%= javascript_tag "$.notify( { message: '#{message}'}, { type: 'danger', placement: { from: 'top', align: 'center' }});" %>
  <% end %>
<% end %>

