<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= t('app.profile_subtitle') %></title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= stylesheet_link_tag 'site', media: 'all' %>
    <%= stylesheet_link_tag 'site/profile', media:'all'%>

   

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/shop-homepage.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <%= render partial:"layouts/site_shared/navigation" %>
   <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Start Bootstrap
                    </a>
                </li>
                <li>
                    <%= link_to "#{t('profile_menu.dashboard')}", site_profile_dashboard_index_path%>
                </li>
                <li>
                    <%= link_to "#{t('profile_menu.my_ads')}", site_profile_ads_path%>
                </li>
                <li>
                    <%= link_to "#{t('profile_menu.new_ad')}", new_site_profile_ad_path%>
                </li>
                <li>
                    <%= link_to "#{t('profile_menu.my_data')}", edit_site_profile_my_datum_path(current_member.id) %>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                         <%= yield %>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->


<%= javascript_include_tag 'application' %>
<%= javascript_include_tag 'site'%>
<%= javascript_include_tag 'site/profile'%>
<%#= javascript_include_tag 'site/profile/ads'%>
<%= yield :javascripts %>

<%= render partial: 'layouts/shared/notifications' %>

</body>

</html>
